
#header {

    float: inline-start;
    width: 80%;
    position: absolute;

    left: 50%
    /* display: flex;
    flex-direction: row; */

}


#header > img {

    float:right;
    /* display: flex;
    flex-direction: row; */

}


